/* GENERAL */
.demi {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
header {
	background-color: #F70 !important;
}
header a, header span {
	color: #FFF !important;
}

body .main {
	width: 60%;
	margin: 100px auto;
}

a.ablock {
	display: inline-block;
}

/* 404 page */
.not-found {
	padding-top: 50px;
	text-align: center;
}
.not-found h1 {
	font-size: 300px;
}

/* SETTINGS FORM */
.settings-main fieldset {
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 4px;
	margin: 5px;
	padding: 10px;
}
.settings-main fieldset h4 .glyphicon {
	border: 1px solid #333;
	border-radius: 4px;
	padding: 4px;
}
.settings-main fieldset h4 {
	text-align: right;
	text-decoration: underline;
}
.settings-main .form-group {
	margin: 0 20px;
}

.input-group-addon {
	top: 0;
}

/* ACCOUNT SELECTOR */
.account-details {
	min-width: 250px;
	border:1px solid #CCC;
	border-radius: 3px;

	margin: 10px;
	padding:10px;
}
.account-details .title {
	text-align: center;
}
.account-details img {
	width: 100px;
	border-radius:50px; 
}
.account-details table {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
.account-details table td {
	padding-left: 5px;
}

#settings-root-select {
	max-height: 270px;
	overflow-y: scroll;
}
#settings-root-select .accounts-item img.account-avatar {
	height: 40px;
}